.categories {
  padding: 40px 0 60px 0;
}
.categories .categories-title {
  text-align: center;
}
.categories .categories-title h4 {
  color: #3b3b3b;
  font-weight: 300;
  font-size: 24px;
}
.categories .categories-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  max-width: 772px;
  margin: 0 auto;
}
.categories .categories-cards .card {
  margin-top: 40px;
  width: 170px;
  height: 170px;
  border: 1px solid #d0d0d0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.categories .categories-cards .card span {
  margin-bottom: 15px;
}
.categories .categories-cards .card span svg {
  width: 80px;
  height: auto;
}
.categories .categories-cards .card a {
  color: #3b3b3b;
  font-weight: 300;
  text-decoration: none;
}
.categories .categories-cards .card a:hover {
  text-decoration: underline;
}
