.categories {
  padding: 40px 0 60px 0;
}
.categories .categories-title {
  text-align: center;
}
.categories .categories-title h4 {
  color: #3b3b3b;
  font-weight: 300;
  font-size: 24px;
}
.categories .categories-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  max-width: 772px;
  margin: 0 auto;
  padding: 0 10px;
}
@media screen and (max-width: 600px) {
  .categories .categories-cards {
    width: 300px;
  }
}
.categories .categories-cards .card {
  margin-top: 40px;
  width: 170px;
  height: 170px;
  border: 1px solid #d0d0d0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  transition: all 0.5s ease;
}
@media screen and (max-width: 760px) {
  .categories .categories-cards .card {
    width: 150px;
    height: 150px;
  }
}
@media screen and (max-width: 680px) {
  .categories .categories-cards .card {
    width: 130px;
    height: 130px;
  }
}
@media screen and (max-width: 600px) {
  .categories .categories-cards .card {
    margin-top: 20px;
  }
}
.categories .categories-cards .card:hover {
  box-shadow: 0 7px 20px -10px rgba(0, 0, 0, 0.7);
}
.categories .categories-cards .card span {
  margin-bottom: 15px;
}
.categories .categories-cards .card span svg {
  width: 80px;
  height: 80px;
}
@media screen and (max-width: 680px) {
  .categories .categories-cards .card span svg {
    width: 50px;
    height: 50px;
  }
}
.categories .categories-cards .card a {
  color: #3b3b3b;
  font-weight: 300;
  text-decoration: none;
}
.categories .categories-cards .card a:hover {
  text-decoration: underline;
}
