.delivery{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 55px 0;

  .delivery-column{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 320px;

    span{
      svg{
        width: 65px;
        height: auto;
      }
    }

    div{
      margin-left: 30px;
      h5{
        font-weight: 500;
        color: #686868;
        font-size: 16px;
        margin-bottom: 15px;
      }
      p{
        color: #686868;
        font-weight: 300;
      }
    }
  }
}