.footer {
  background: url("../img/footer-bg.jpg") no-repeat center;
  background-size: cover;
  padding: 50px 0 35px 0;
}
@media screen and (max-width: 750px) {
  .footer {
    padding: 20px 0;
  }
}
.footer .container {
  width: 100%;
  max-width: 990px;
  margin: 0 auto;
}
@media screen and (max-width: 990px) {
  .footer .container {
    padding: 0 5px;
  }
}
.footer .container .top_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 90px;
}
@media screen and (max-width: 750px) {
  .footer .container .top_footer {
    margin-bottom: 30px;
  }
}
.footer .container .top_footer .info {
  margin-right: 40px;
}
@media screen and (max-width: 750px) {
  .footer .container .top_footer .info {
    display: none;
  }
}
.footer .container .top_footer .info .info_title {
  margin-bottom: 25px;
}
.footer .container .top_footer .info .info_title h5 {
  font-size: 16px;
  font-weight: 500;
  color: #282828;
}
.footer .container .top_footer .info .info_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.footer .container .top_footer .info .info_links a {
  color: #282828;
  text-decoration: none;
  margin-bottom: 10px;
}
.footer .container .top_footer .info .info_links a:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 750px) {
  .footer .container .top_footer .account {
    display: none;
  }
}
.footer .container .top_footer .account .account_title {
  margin-bottom: 25px;
}
.footer .container .top_footer .account .account_title h5 {
  font-size: 16px;
  font-weight: 500;
  color: #282828;
}
.footer .container .top_footer .account .account_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.footer .container .top_footer .account .account_links a {
  color: #282828;
  text-decoration: none;
  margin-bottom: 10px;
}
.footer .container .top_footer .account .account_links a:last-child {
  margin-bottom: 0;
}
.footer .container .top_footer .contacts {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media screen and (max-width: 750px) {
  .footer .container .top_footer .contacts {
    margin: 0 auto;
  }
}
.footer .container .top_footer .contacts .contacts_title {
  margin-bottom: 25px;
}
.footer .container .top_footer .contacts .contacts_title h5 {
  font-size: 16px;
  font-weight: 500;
  color: #282828;
}
.footer .container .top_footer .contacts .contacts_text {
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer .container .top_footer .contacts .contacts_text .address,
.footer .container .top_footer .contacts .contacts_text .phone,
.footer .container .top_footer .contacts .contacts_text .mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (max-width: 750px) {
  .footer .container .top_footer .contacts .contacts_text .address,
  .footer .container .top_footer .contacts .contacts_text .phone,
  .footer .container .top_footer .contacts .contacts_text .mail {
    margin-bottom: 10px;
  }
}
.footer .container .top_footer .contacts .contacts_text .address img,
.footer .container .top_footer .contacts .contacts_text .phone img,
.footer .container .top_footer .contacts .contacts_text .mail img {
  margin-right: 25px;
}
.footer .container .top_footer .contacts .contacts_text .address p,
.footer .container .top_footer .contacts .contacts_text .phone p,
.footer .container .top_footer .contacts .contacts_text .mail p {
  color: #282828;
}
.footer .container .top_footer .contacts .contacts_text .address p a,
.footer .container .top_footer .contacts .contacts_text .phone p a,
.footer .container .top_footer .contacts .contacts_text .mail p a {
  color: #282828;
  text-decoration: none;
}
.footer .container .bottom_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (max-width: 750px) {
  .footer .container .bottom_footer {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media screen and (max-width: 750px) {
  .footer .container .bottom_footer .apps {
    display: none;
  }
}
@media screen and (max-width: 750px) {
  .footer .container .bottom_footer .subscription_form {
    display: none;
  }
}
.footer .container .bottom_footer .subscription_form .title {
  margin-bottom: 15px;
}
.footer .container .bottom_footer .subscription_form .title h5 {
  color: #282828;
  font-size: 16px;
  font-weight: 500;
}
.footer .container .bottom_footer .subscription_form form div {
  width: 170px;
  position: relative;
  height: 30px;
}
.footer .container .bottom_footer .subscription_form form div input {
  width: 100%;
  height: 100%;
  padding-right: 20px;
  padding-left: 5px;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #99b164;
}
.footer .container .bottom_footer .subscription_form form div button {
  outline: none;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background: rgba(0, 0, 0, 0);
  height: 100%;
  cursor: pointer;
  width: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
