@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoMedium/RobotoMedium.eot");
  src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"), url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-thin.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
.navigation {
  min-height: 100vh;
  background: url("../img/navigation-BG.jpg") no-repeat center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px;
}
.navigation .navigation_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  max-width: 970px;
}
.navigation .navigation_container .column {
  height: 235px;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: all 0.5s ease;
}
.navigation .navigation_container .column a {
  text-decoration: none;
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.navigation .navigation_container .column a .column_bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.navigation .navigation_container .column a .bg1 {
  background: url("../img/nav-bg-1.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 100%;
}
.navigation .navigation_container .column a .bg2 {
  background: url("../img/nav-bg-1.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 100%;
}
.navigation .navigation_container .column a .bg3 {
  background: url("../img/nav-bg-1.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 100%;
}
.navigation .navigation_container .column a .bg4 {
  background: url("../img/nav-bg-1.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 100%;
}
.navigation .navigation_container .column a .bg5 {
  background: url("../img/nav-bg-1.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 100%;
}
.navigation .navigation_container .column a .bg6 {
  background: url("../img/nav-bg-1.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 100%;
}
.navigation .navigation_container .column a .bg7 {
  background: url("../img/nav-bg-1.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 100%;
}
.navigation .navigation_container .column a .bg8 {
  background: url("../img/nav-bg-1.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 100%;
}
.navigation .navigation_container .column a .column_content {
  position: relative;
  height: 100%;
  z-index: 2;
  background: rgba(255, 255, 255, 0.9);
  transition: all 0.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.navigation .navigation_container .column a .column_content h6 {
  margin-top: 35px;
  color: #484848;
  font-size: 24px;
  font-weight: 500;
  transition: all 0.5s ease;
  opacity: 1;
}
.navigation .navigation_container .column:hover a .column_bg {
  -webkit-animation: navBg 1s ease;
  animation: navBg 1s ease;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.navigation .navigation_container .column:hover a .column_content {
  background: rgba(255, 255, 255, 0);
}
.navigation .navigation_container .column:hover a .column_content h6 {
  opacity: 0;
}
.navigation .navigation_container .col-large {
  width: calc(50% - 10px);
}
.navigation .navigation_container .col-medium {
  width: calc(40% - 10px);
}
.navigation .navigation_container .col-small {
  width: calc(20% - 10px);
}
.navigation .navigation_container .column2 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.navigation .navigation_container .column3 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.navigation .navigation_container .column4 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.navigation .navigation_container .column5 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.navigation .navigation_container .column6 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.navigation .navigation_container .column7 {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.navigation .navigation_container .column8 {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
@-webkit-keyframes navBg {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
  100% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes navBg {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
  100% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
