@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoMedium/RobotoMedium.eot");
  src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"), url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-thin.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
body {
  min-width: 320px;
  overflow-x: hidden;
}
input:focus {
  outline: 1px solid #d8e3c5;
}
button {
  outline: none;
}
.title-lines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.title-lines .line {
  width: 100%;
  max-width: 270px;
  height: 1px;
}
.title-lines h4 {
  color: #202020;
  font-weight: 300;
  font-size: 24px;
  margin: 0 10px;
  width: 227px;
  text-align: center;
}
.product-card {
  width: 270px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #e8e8e8;
  transition: all 0.5s ease;
  text-align: center;
  position: relative;
}
.product-card:hover {
  border: 1px solid #8bac53;
  box-shadow: 0px 7px 20px -10px rgba(0, 0, 0, 0.7);
}
.product-card .product-price {
  position: absolute;
  top: 10px;
  left: 5px;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: #f0c738;
  color: #fff;
  font-size: 15px;
  font-weight: 900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.product-card .product-photo {
  height: 180px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.product-card .product-photo img {
  width: auto;
  max-width: 170px;
  height: auto;
  max-height: 170px;
}
.product-card .product-info {
  padding: 0 20px 16px 20px;
  min-height: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.product-card .product-info .product-name {
  margin-bottom: 5px;
}
.product-card .product-info .product-name h5 {
  color: #242424;
}
.product-card .product-info .product-characteristics p {
  font-size: 13px;
  font-weight: 300;
  color: #3b3b3b;
}
.product-card .product-info .button {
  margin-top: auto;
}
.btn {
  color: #fff;
  font-weight: 500;
  background-color: #8bac53;
  border: none;
  padding: 6px 20px;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.btn:hover {
  box-shadow: 0px 10px 10px -7px rgba(139, 172, 83, 0.7);
}
.btn:active {
  background-color: #f0c738;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: #8bac53;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.header .cabinet {
  background: #2d2d2d;
  height: 25px;
}
.header .cabinet .container {
  width: 100%;
  max-width: 970px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
}
.header .cabinet .currency-and-language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header .cabinet .currency-and-language select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: none;
  background: rgba(0, 0, 0, 0);
  color: #fff;
  cursor: pointer;
  width: 37px;
  font-size: 12px;
  font-weight: 300;
}
.header .cabinet .currency-and-language select option {
  background: #282828;
  font-size: 12px;
  font-weight: 300;
}
.header .cabinet .currency-and-language .currency,
.header .cabinet .currency-and-language .language {
  position: relative;
  display: block;
  width: auto;
  height: auto;
  line-height: 0;
  background: #2d2d2d;
}
.header .cabinet .currency-and-language .currency:after,
.header .cabinet .currency-and-language .language:after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 2px;
  background: #2d2d2d;
  color: #fff;
  pointer-events: none;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 9px;
}
.header .cabinet .currency-and-language .currency {
  margin-right: 10px;
}
.header .cabinet .entry a {
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  font-weight: 300;
}
.header .cabinet .entry a img {
  margin-left: 5px;
}
.header .header-logo {
  padding: 25px 0;
}
.header .header-logo .container {
  width: 100%;
  max-width: 970px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header .header-logo .container .social a {
  margin-right: 7px;
}
.header .header-logo .container .social a:last-child {
  margin-right: 0;
}
.header .header-logo .container .social a i {
  transition: all 0.5s ease;
  color: #515151;
}
.header .header-logo .container .social a:hover i {
  color: #1b00d5;
}
.header .header-logo .container .basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  color: #262626;
}
.header .header-logo .container .basket .basket-img {
  position: relative;
  margin-right: 15px;
}
.header .header-logo .container .basket .basket-img .basket-count {
  position: absolute;
  top: -7px;
  right: -7px;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: #8bac53;
  color: #fff;
  font-weight: 300;
  font-size: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.header .menu {
  width: 100%;
  max-width: 892px;
  margin: 10px auto;
  border-top: 1px solid #dcdcdc;
}
.header .menu ul {
  width: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 20px 0;
}
.header .menu ul a {
  display: inline-block;
  text-decoration: none;
  color: #3b3b3b;
  font-size: 16px;
  font-weight: 300;
}
.slider {
  height: 590px;
}
.slider .item-slid {
  overflow: hidden;
  height: 590px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  float: left;
  outline: none;
}
.slider .item-slid .slids-content {
  height: 100%;
  width: 62%;
  position: relative;
  right: -12%;
  background: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -moz-transform: skewX(30deg);
  -webkit-transform: skewX(30deg);
  -o-transform: skewX(30deg);
  -ms-transform: skewX(30deg);
  transform: skewX(30deg);
}
.slider .item-slid .slids-content .content {
  margin-left: 12%;
  text-align: center;
  -moz-transform: skewX(-30deg);
  -webkit-transform: skewX(-30deg);
  -o-transform: skewX(-30deg);
  -ms-transform: skewX(-30deg);
  transform: skewX(-30deg);
}
.slider .item-slid .slids-content .content h3 {
  color: #fefefe;
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
}
.slider .item-slid .slids-content .content h3 span {
  font-size: 36px;
}
.slider .item-slid .slids-content .content a {
  font-size: 18px;
  color: #333333;
  text-decoration: none;
  display: inline-block;
  background: #f0c738;
  padding: 5px 15px;
  border-radius: 15px;
  margin-top: 60px;
}
.slider .slide-1 {
  background: url("../img/slide-bg-1.jpg") no-repeat center;
  background-size: cover;
}
.slider .slick-prev,
.slider .slick-next {
  z-index: 5;
  height: 50px;
  width: 50px;
}
.slider .slick-prev {
  left: 50px;
}
.slider .slick-next {
  right: 50px;
}
.slider .slick-prev:before,
.slider .slick-next:before {
  font-size: 50px;
  color: #ffffff;
}
.shares {
  background: url("../img/shares-bg.jpg") no-repeat;
  background-size: cover;
  padding: 50px 0 0 0;
}
.shares .container {
  width: 100%;
  max-width: 870px;
  margin: 0 auto;
  position: relative;
}
.shares .container .title-lines .line {
  background: #fb4040;
}
.shares .container .product-slider {
  overflow: hidden;
  padding-top: 70px;
  padding-bottom: 60px;
}
.shares .container .product-slider .item-slider {
  outline: none;
  float: left;
}
.categories {
  padding: 40px 0 60px 0;
}
.categories .categories-title {
  text-align: center;
}
.categories .categories-title h4 {
  color: #3b3b3b;
  font-weight: 300;
  font-size: 24px;
}
.categories .categories-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  max-width: 772px;
  margin: 0 auto;
}
.categories .categories-cards .card {
  margin-top: 40px;
  width: 170px;
  height: 170px;
  border: 1px solid #d0d0d0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  transition: all 0.5s ease;
}
.categories .categories-cards .card:hover {
  box-shadow: 0px 7px 20px -10px rgba(0, 0, 0, 0.7);
}
.categories .categories-cards .card span {
  margin-bottom: 15px;
}
.categories .categories-cards .card span svg {
  width: 80px;
  height: auto;
}
.categories .categories-cards .card a {
  color: #3b3b3b;
  font-weight: 300;
  text-decoration: none;
}
.categories .categories-cards .card a:hover {
  text-decoration: underline;
}
.popular-products {
  background: url("../img/news-bg.jpg") no-repeat;
  background-size: cover;
  padding: 50px 0 0 0;
}
.popular-products .container {
  width: 100%;
  max-width: 870px;
  margin: 0 auto;
  position: relative;
}
.popular-products .container .title-lines .line {
  background: #a3c36d;
}
.popular-products .container .product-slider {
  overflow: hidden;
  padding-top: 70px;
  padding-bottom: 60px;
}
.popular-products .container .product-slider .item-slider {
  outline: none;
  float: left;
}
.delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 55px 0;
}
.delivery .delivery-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 320px;
}
.delivery .delivery-column span svg {
  width: 65px;
  height: auto;
}
.delivery .delivery-column div {
  margin-left: 30px;
}
.delivery .delivery-column div h5 {
  font-weight: 500;
  color: #686868;
  font-size: 16px;
  margin-bottom: 15px;
}
.delivery .delivery-column div p {
  color: #686868;
  font-weight: 300;
}
.novelties {
  background: url("../img/news-bg.jpg") no-repeat;
  background-size: cover;
  padding: 50px 0 0 0;
}
.novelties .container {
  width: 100%;
  max-width: 870px;
  margin: 0 auto;
  position: relative;
}
.novelties .container .title-lines .line {
  background: #4b79bb;
}
.novelties .container .product-slider {
  overflow: hidden;
  padding-top: 70px;
  padding-bottom: 60px;
}
.novelties .container .product-slider .item-slider {
  outline: none;
  float: left;
}
.about-shop {
  padding: 60px 0 40px 0;
}
.about-shop .container {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
}
.about-shop .container .about-shop-title {
  text-align: center;
}
.about-shop .container .about-shop-title h5 {
  font-size: 20px;
  font-weight: 300;
  color: #484848;
}
.about-shop .container .about-shop-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.about-shop .container .about-shop-columns .column {
  width: 100%;
  max-width: 364px;
  margin-top: 40px;
}
.about-shop .container .about-shop-columns .column:first-child {
  margin-right: 10px;
}
.about-shop .container .about-shop-columns .column p {
  font-size: 13px;
  color: #484848;
}
.news {
  background: url("../img/news-bg.jpg") no-repeat;
  background-size: cover;
  padding: 50px 0;
}
.news .container {
  width: 100%;
  max-width: 870px;
  margin: 0 auto;
}
.news .container .title {
  text-align: center;
}
.news .container .title h5 {
  font-size: 24px;
  color: #202020;
  font-weight: 300;
}
.news .container .news_columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.news .container .news_columns .news_column {
  margin: 30px 10px 0 10px;
  width: 270px;
}
.news .container .news_columns .news_column .news_img {
  margin-bottom: 18px;
}
.news .container .news_columns .news_column .news_img img {
  width: 100%;
}
.news .container .news_columns .news_column .news_title {
  margin-bottom: 15px;
}
.news .container .news_columns .news_column .news_title h4 {
  color: #484848;
  font-weight: 400;
}
.news .container .news_columns .news_column .news_text {
  margin-bottom: 25px;
}
.news .container .news_columns .news_column .news_text p {
  font-size: 13px;
  font-weight: 300;
  color: #484848;
}
.news .container .news_columns .news_column .news_link a {
  color: #8bac53;
  font-size: 12px;
}
.footer {
  background: url("../img/footer-bg.jpg") no-repeat center;
  background-size: cover;
  padding: 50px 0 35px 0;
}
.footer .container {
  width: 100%;
  max-width: 990px;
  margin: 0 auto;
}
@media screen and (max-width: 990px) {
  .footer .container {
    padding: 0 5px;
  }
}
.footer .container .top_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 90px;
}
.footer .container .top_footer .info {
  margin-right: 40px;
}
.footer .container .top_footer .info .info_title {
  margin-bottom: 25px;
}
.footer .container .top_footer .info .info_title h5 {
  font-size: 16px;
  font-weight: 500;
  color: #282828;
}
.footer .container .top_footer .info .info_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.footer .container .top_footer .info .info_links a {
  color: #282828;
  text-decoration: none;
  margin-bottom: 10px;
}
.footer .container .top_footer .info .info_links a:last-child {
  margin-bottom: 0;
}
.footer .container .top_footer .account .account_title {
  margin-bottom: 25px;
}
.footer .container .top_footer .account .account_title h5 {
  font-size: 16px;
  font-weight: 500;
  color: #282828;
}
.footer .container .top_footer .account .account_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.footer .container .top_footer .account .account_links a {
  color: #282828;
  text-decoration: none;
  margin-bottom: 10px;
}
.footer .container .top_footer .account .account_links a:last-child {
  margin-bottom: 0;
}
.footer .container .top_footer .contacts {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.footer .container .top_footer .contacts .contacts_title {
  margin-bottom: 25px;
}
.footer .container .top_footer .contacts .contacts_title h5 {
  font-size: 16px;
  font-weight: 500;
  color: #282828;
}
.footer .container .top_footer .contacts .contacts_text {
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer .container .top_footer .contacts .contacts_text .address,
.footer .container .top_footer .contacts .contacts_text .phone,
.footer .container .top_footer .contacts .contacts_text .mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer .container .top_footer .contacts .contacts_text .address img,
.footer .container .top_footer .contacts .contacts_text .phone img,
.footer .container .top_footer .contacts .contacts_text .mail img {
  margin-right: 25px;
}
.footer .container .top_footer .contacts .contacts_text .address p,
.footer .container .top_footer .contacts .contacts_text .phone p,
.footer .container .top_footer .contacts .contacts_text .mail p {
  color: #282828;
}
.footer .container .bottom_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.footer .container .bottom_footer .subscription_form .title {
  margin-bottom: 15px;
}
.footer .container .bottom_footer .subscription_form .title h5 {
  color: #282828;
  font-size: 16px;
  font-weight: 500;
}
.footer .container .bottom_footer .subscription_form form div {
  width: 170px;
  position: relative;
  height: 30px;
}
.footer .container .bottom_footer .subscription_form form div input {
  width: 100%;
  height: 100%;
  padding-right: 20px;
  padding-left: 5px;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #99b164;
}
.footer .container .bottom_footer .subscription_form form div button {
  outline: none;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background: rgba(0, 0, 0, 0);
  height: 100%;
  cursor: pointer;
  width: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.navigation {
  min-height: 100vh;
  background: url("../img/navigation-BG.jpg") no-repeat center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 15px;
}
.navigation .navigation_burger {
  width: 100%;
  max-width: 970px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-bottom: 15px;
}
@media screen and (max-width: 900px) {
  .navigation .navigation_burger {
    max-width: 600px;
  }
}
.navigation .navigation_burger .burger {
  margin-right: 10px;
  cursor: pointer;
}
.navigation .navigation_burger .burger .burger_line {
  height: 4px;
  width: 35px;
  background: #fff;
  margin-bottom: 4px;
  border-radius: 2px;
}
.navigation .navigation_burger .burger .burger_line:last-child {
  margin-bottom: 0;
}
.navigation .navigation_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  max-width: 970px;
}
@media screen and (max-width: 900px) {
  .navigation .navigation_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    max-width: 600px;
  }
}
.navigation .navigation_container .column {
  height: 27vm;
  height: 27vmin;
  max-height: 235px;
  min-height: 165px;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: all 0.5s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  z-index: 10;
}
@media screen and (max-width: 900px) {
  .navigation .navigation_container .column {
    height: 65px;
    margin-right: 0;
    min-height: 65px;
    margin-bottom: 5px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}
@media screen and (max-width: 900px) {
  .navigation .navigation_container .column:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 900px) {
  .navigation .navigation_container .column:first-child a .column_content img {
    height: 40px;
  }
}
@media screen and (max-width: 550px) {
  .navigation .navigation_container .column:first-child a .column_content img {
    height: 30px;
  }
}
@media screen and (max-width: 900px) {
  .navigation .navigation_container .column:first-child a .column_content span {
    display: inline-block;
    width: 150px;
    text-align: center;
    margin-right: 40px;
  }
}
@media screen and (max-width: 550px) {
  .navigation .navigation_container .column:first-child a .column_content span {
    width: 110px;
    margin-right: 10px;
  }
}
.navigation .navigation_container .column:not(:first-child) a .column_content svg {
  fill: #ecaf35;
  transition: all 0.5s ease;
  width: 60px;
  height: auto;
}
@media screen and (max-width: 900px) {
  .navigation .navigation_container .column:not(:first-child) a .column_content svg {
    width: 40px;
    height: auto;
  }
}
@media screen and (max-width: 550px) {
  .navigation .navigation_container .column:not(:first-child) a .column_content svg {
    height: auto;
    width: 35px;
  }
}
@media screen and (max-width: 900px) {
  .navigation .navigation_container .column:not(:first-child) a .column_content span {
    display: inline-block;
    width: 150px;
    text-align: center;
    margin-right: 40px;
  }
}
@media screen and (max-width: 550px) {
  .navigation .navigation_container .column:not(:first-child) a .column_content span {
    width: auto;
    margin-right: 48px;
  }
}
.navigation .navigation_container .column a {
  text-decoration: none;
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.navigation .navigation_container .column a .column_bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 50;
  opacity: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
@media screen and (max-width: 900px) {
  .navigation .navigation_container .column a .column_bg {
    display: none;
  }
}
.navigation .navigation_container .column a .bg1 {
  background: url("../img/nav-bg-1.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 100%;
}
.navigation .navigation_container .column a .bg2 {
  background: url("../img/nav-bg-2.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 100%;
}
.navigation .navigation_container .column a .bg3 {
  background: url("../img/nav-bg-3.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 100%;
}
.navigation .navigation_container .column a .bg4 {
  background: url("../img/nav-bg-4.jpeg") no-repeat;
  background-size: cover;
  background-position: 88% 100%;
}
.navigation .navigation_container .column a .bg5 {
  background: url("../img/nav-bg-5.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 100%;
}
.navigation .navigation_container .column a .bg6 {
  background: url("../img/nav-bg-6.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 100%;
}
.navigation .navigation_container .column a .bg7 {
  background: url("../img/nav-bg-7.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 100%;
}
.navigation .navigation_container .column a .bg8 {
  background: url("../img/nav-bg-8.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 100%;
}
.navigation .navigation_container .column a .column_content {
  position: relative;
  height: 100%;
  z-index: 60;
  background: rgba(255, 255, 255, 0.9);
  transition: all 0.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
@media screen and (max-width: 900px) {
  .navigation .navigation_container .column a .column_content {
    background: rgba(255, 255, 255, 0.8);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 0 0 20px;
  }
}
@media screen and (max-width: 550px) {
  .navigation .navigation_container .column a .column_content {
    padding: 0 0 0 15px;
  }
}
.navigation .navigation_container .column a .column_content h6 {
  margin-top: 35px;
  color: #484848;
  font-size: 24px;
  font-weight: 500;
  transition: all 0.5s ease;
  opacity: 1;
}
@media screen and (max-width: 900px) {
  .navigation .navigation_container .column a .column_content h6 {
    margin-top: 0;
  }
}
@media screen and (max-width: 550px) {
  .navigation .navigation_container .column a .column_content h6 {
    font-size: 18px;
  }
}
.navigation .navigation_container .column:hover {
  z-index: 20;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 900px) {
  .navigation .navigation_container .column:hover {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
.navigation .navigation_container .column:hover a .column_bg {
  -webkit-animation: navBg 1s ease;
  animation: navBg 1s ease;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.navigation .navigation_container .column:hover a .column_content {
  background: rgba(255, 255, 255, 0);
}
@media screen and (max-width: 900px) {
  .navigation .navigation_container .column:hover a .column_content {
    background: #ffffff;
  }
}
.navigation .navigation_container .column:hover a .column_content h6 {
  opacity: 0;
}
@media screen and (max-width: 900px) {
  .navigation .navigation_container .column:hover a .column_content h6 {
    opacity: 1;
  }
}
.navigation .navigation_container .column:hover a .column_content .unhover {
  display: none;
}
@media screen and (max-width: 900px) {
  .navigation .navigation_container .column:hover a .column_content .unhover {
    display: inline-block;
  }
}
.navigation .navigation_container .column:hover a .column_content .hover {
  display: inline-block;
}
@media screen and (max-width: 900px) {
  .navigation .navigation_container .column:hover a .column_content .hover {
    display: none;
  }
}
.navigation .navigation_container .column:hover:not(:first-child) a .column_content svg {
  fill: #fff;
  transition: all 0.5s ease;
}
@media screen and (max-width: 900px) {
  .navigation .navigation_container .column:hover:not(:first-child) a .column_content svg {
    fill: #ecaf35;
  }
}
.navigation .navigation_container .col-large {
  width: calc(50% - 10px);
}
@media screen and (max-width: 900px) {
  .navigation .navigation_container .col-large {
    width: 100%;
  }
}
.navigation .navigation_container .col-medium {
  width: calc(40% - 10px);
}
@media screen and (max-width: 900px) {
  .navigation .navigation_container .col-medium {
    width: 100%;
  }
}
.navigation .navigation_container .col-small {
  width: calc(20% - 10px);
}
@media screen and (max-width: 900px) {
  .navigation .navigation_container .col-small {
    width: 100%;
  }
}
.navigation .navigation_container .column1:hover {
  -moz-transform: scale(1.1) translate(20px, 10px);
  -webkit-transform: scale(1.1) translate(20px, 10px);
  -o-transform: scale(1.1) translate(20px, 10px);
  -ms-transform: scale(1.1) translate(20px, 10px);
  transform: scale(1.1) translate(20px, 10px);
}
@media screen and (max-width: 900px) {
  .navigation .navigation_container .column1:hover {
    -moz-transform: scale(1.02) translate(0, 0);
    -webkit-transform: scale(1.02) translate(0, 0);
    -o-transform: scale(1.02) translate(0, 0);
    -ms-transform: scale(1.02) translate(0, 0);
    transform: scale(1.02) translate(0, 0);
  }
}
.navigation .navigation_container .column2 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.navigation .navigation_container .column2:hover {
  -moz-transform: scale(1.1) translate(-20px, 10px);
  -webkit-transform: scale(1.1) translate(-20px, 10px);
  -o-transform: scale(1.1) translate(-20px, 10px);
  -ms-transform: scale(1.1) translate(-20px, 10px);
  transform: scale(1.1) translate(-20px, 10px);
}
@media screen and (max-width: 900px) {
  .navigation .navigation_container .column2:hover {
    -moz-transform: scale(1.02) translate(0, 0);
    -webkit-transform: scale(1.02) translate(0, 0);
    -o-transform: scale(1.02) translate(0, 0);
    -ms-transform: scale(1.02) translate(0, 0);
    transform: scale(1.02) translate(0, 0);
  }
}
.navigation .navigation_container .column3 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.navigation .navigation_container .column3:hover {
  -moz-transform: scale(1.1) translate(17px, 0);
  -webkit-transform: scale(1.1) translate(17px, 0);
  -o-transform: scale(1.1) translate(17px, 0);
  -ms-transform: scale(1.1) translate(17px, 0);
  transform: scale(1.1) translate(17px, 0);
}
@media screen and (max-width: 900px) {
  .navigation .navigation_container .column3:hover {
    -moz-transform: scale(1.02) translate(0, 0);
    -webkit-transform: scale(1.02) translate(0, 0);
    -o-transform: scale(1.02) translate(0, 0);
    -ms-transform: scale(1.02) translate(0, 0);
    transform: scale(1.02) translate(0, 0);
  }
}
.navigation .navigation_container .column4 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.navigation .navigation_container .column4:hover {
  -moz-transform: scale(1.15) translate(0, 0);
  -webkit-transform: scale(1.15) translate(0, 0);
  -o-transform: scale(1.15) translate(0, 0);
  -ms-transform: scale(1.15) translate(0, 0);
  transform: scale(1.15) translate(0, 0);
}
@media screen and (max-width: 900px) {
  .navigation .navigation_container .column4:hover {
    -moz-transform: scale(1.02) translate(0, 0);
    -webkit-transform: scale(1.02) translate(0, 0);
    -o-transform: scale(1.02) translate(0, 0);
    -ms-transform: scale(1.02) translate(0, 0);
    transform: scale(1.02) translate(0, 0);
  }
}
.navigation .navigation_container .column5 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.navigation .navigation_container .column5:hover {
  -moz-transform: scale(1.1) translate(-17px, 0);
  -webkit-transform: scale(1.1) translate(-17px, 0);
  -o-transform: scale(1.1) translate(-17px, 0);
  -ms-transform: scale(1.1) translate(-17px, 0);
  transform: scale(1.1) translate(-17px, 0);
}
@media screen and (max-width: 900px) {
  .navigation .navigation_container .column5:hover {
    -moz-transform: scale(1.02) translate(0, 0);
    -webkit-transform: scale(1.02) translate(0, 0);
    -o-transform: scale(1.02) translate(0, 0);
    -ms-transform: scale(1.02) translate(0, 0);
    transform: scale(1.02) translate(0, 0);
  }
}
.navigation .navigation_container .column6 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.navigation .navigation_container .column6:hover {
  -moz-transform: scale(1.15) translate(12px, -15px);
  -webkit-transform: scale(1.15) translate(12px, -15px);
  -o-transform: scale(1.15) translate(12px, -15px);
  -ms-transform: scale(1.15) translate(12px, -15px);
  transform: scale(1.15) translate(12px, -15px);
}
@media screen and (max-width: 900px) {
  .navigation .navigation_container .column6:hover {
    -moz-transform: scale(1.02) translate(0, 0);
    -webkit-transform: scale(1.02) translate(0, 0);
    -o-transform: scale(1.02) translate(0, 0);
    -ms-transform: scale(1.02) translate(0, 0);
    transform: scale(1.02) translate(0, 0);
  }
}
.navigation .navigation_container .column7 {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.navigation .navigation_container .column7:hover {
  -moz-transform: scale(1.1) translate(0, -11px);
  -webkit-transform: scale(1.1) translate(0, -11px);
  -o-transform: scale(1.1) translate(0, -11px);
  -ms-transform: scale(1.1) translate(0, -11px);
  transform: scale(1.1) translate(0, -11px);
}
@media screen and (max-width: 900px) {
  .navigation .navigation_container .column7:hover {
    -moz-transform: scale(1.02) translate(0, 0);
    -webkit-transform: scale(1.02) translate(0, 0);
    -o-transform: scale(1.02) translate(0, 0);
    -ms-transform: scale(1.02) translate(0, 0);
    transform: scale(1.02) translate(0, 0);
  }
}
.navigation .navigation_container .column8 {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
.navigation .navigation_container .column8:hover {
  -moz-transform: scale(1.1) translate(-17px, -11px);
  -webkit-transform: scale(1.1) translate(-17px, -11px);
  -o-transform: scale(1.1) translate(-17px, -11px);
  -ms-transform: scale(1.1) translate(-17px, -11px);
  transform: scale(1.1) translate(-17px, -11px);
}
@media screen and (max-width: 900px) {
  .navigation .navigation_container .column8:hover {
    -moz-transform: scale(1.02) translate(0, 0);
    -webkit-transform: scale(1.02) translate(0, 0);
    -o-transform: scale(1.02) translate(0, 0);
    -ms-transform: scale(1.02) translate(0, 0);
    transform: scale(1.02) translate(0, 0);
  }
}
.navigation .navigation_footer {
  width: 100%;
  max-width: 970px;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .navigation .navigation_footer {
    max-width: 600px;
  }
}
.navigation .navigation_footer .discription p {
  color: #fff;
  font-size: 14px;
}
@media screen and (max-width: 500px) {
  .navigation .navigation_footer .discription p {
    font-size: 10px;
  }
}
.navigation .navigation_footer .social {
  margin-right: 10px;
}
.navigation .navigation_footer .social a {
  margin-right: 15px;
}
.navigation .navigation_footer .social a:last-child {
  margin-right: 0;
}
.navigation .navigation_footer .social a i {
  color: #fff;
  font-size: 20px;
}
@-webkit-keyframes navBg {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
  100% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes navBg {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
  100% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
