.navigation {
  min-height: 100vh;
  background: url("../img/navigation-BG.jpg") no-repeat center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 15px;
}
.navigation .navigation_burger {
  width: 100%;
  max-width: 970px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-bottom: 15px;
}
.navigation .navigation_burger .burger {
  margin-right: 10px;
  cursor: pointer;
}
.navigation .navigation_burger .burger .burger_line {
  height: 4px;
  width: 35px;
  background: #fff;
  margin-bottom: 4px;
  border-radius: 2px;
}
.navigation .navigation_burger .burger .burger_line:last-child {
  margin-bottom: 0;
}
.navigation .navigation_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  max-width: 970px;
}
@media screen and (max-width: 900px) {
  .navigation .navigation_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    max-width: 600px;
  }
}
.navigation .navigation_container .column {
  height: 27vm;
  height: 27vmin;
  max-height: 235px;
  min-height: 165px;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: all 0.5s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
@media screen and (max-width: 900px) {
  .navigation .navigation_container .column {
    height: 65px;
    margin-right: 0;
    min-height: 65px;
    margin-bottom: 5px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}
@media screen and (max-width: 900px) {
  .navigation .navigation_container .column:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 900px) {
  .navigation .navigation_container .column:first-child a .column_content img {
    height: 40px;
  }
}
@media screen and (max-width: 550px) {
  .navigation .navigation_container .column:first-child a .column_content img {
    height: 30px;
  }
}
@media screen and (max-width: 900px) {
  .navigation .navigation_container .column:first-child a .column_content span {
    display: inline-block;
    width: 150px;
    text-align: center;
    margin-right: 40px;
  }
}
@media screen and (max-width: 550px) {
  .navigation .navigation_container .column:first-child a .column_content span {
    width: 110px;
    margin-right: 10px;
  }
}
.navigation .navigation_container .column:not(:first-child) a .column_content svg {
  fill: #ecaf35;
  transition: all 0.5s ease;
  width: 60px;
  height: auto;
}
@media screen and (max-width: 900px) {
  .navigation .navigation_container .column:not(:first-child) a .column_content svg {
    width: 40px;
    height: auto;
  }
}
@media screen and (max-width: 550px) {
  .navigation .navigation_container .column:not(:first-child) a .column_content svg {
    height: auto;
    width: 35px;
  }
}
@media screen and (max-width: 900px) {
  .navigation .navigation_container .column:not(:first-child) a .column_content span {
    display: inline-block;
    width: 150px;
    text-align: center;
    margin-right: 40px;
  }
}
@media screen and (max-width: 550px) {
  .navigation .navigation_container .column:not(:first-child) a .column_content span {
    width: auto;
    margin-right: 48px;
  }
}
.navigation .navigation_container .column a {
  text-decoration: none;
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.navigation .navigation_container .column a .column_bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
@media screen and (max-width: 900px) {
  .navigation .navigation_container .column a .column_bg {
    display: none;
  }
}
.navigation .navigation_container .column a .bg1 {
  background: url("../img/nav-bg-1.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 100%;
}
.navigation .navigation_container .column a .bg2 {
  background: url("../img/nav-bg-2.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 100%;
}
.navigation .navigation_container .column a .bg3 {
  background: url("../img/nav-bg-3.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 100%;
}
.navigation .navigation_container .column a .bg4 {
  background: url("../img/nav-bg-4.jpeg") no-repeat;
  background-size: cover;
  background-position: 88% 100%;
}
.navigation .navigation_container .column a .bg5 {
  background: url("../img/nav-bg-5.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 100%;
}
.navigation .navigation_container .column a .bg6 {
  background: url("../img/nav-bg-6.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 100%;
}
.navigation .navigation_container .column a .bg7 {
  background: url("../img/nav-bg-7.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 100%;
}
.navigation .navigation_container .column a .bg8 {
  background: url("../img/nav-bg-8.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 100%;
}
.navigation .navigation_container .column a .column_content {
  position: relative;
  height: 100%;
  z-index: 2;
  background: rgba(255, 255, 255, 0.9);
  transition: all 0.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
@media screen and (max-width: 900px) {
  .navigation .navigation_container .column a .column_content {
    background: rgba(255, 255, 255, 0.8);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 0 0 20px;
  }
}
@media screen and (max-width: 550px) {
  .navigation .navigation_container .column a .column_content {
    padding: 0 0 0 15px;
  }
}
.navigation .navigation_container .column a .column_content h6 {
  margin-top: 35px;
  color: #484848;
  font-size: 24px;
  font-weight: 500;
  transition: all 0.5s ease;
  opacity: 1;
}
@media screen and (max-width: 900px) {
  .navigation .navigation_container .column a .column_content h6 {
    margin-top: 0;
  }
}
@media screen and (max-width: 550px) {
  .navigation .navigation_container .column a .column_content h6 {
    font-size: 18px;
  }
}
.navigation .navigation_container .column:hover a .column_bg {
  -webkit-animation: navBg 1s ease;
  animation: navBg 1s ease;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.navigation .navigation_container .column:hover a .column_content {
  background: rgba(255, 255, 255, 0);
}
@media screen and (max-width: 900px) {
  .navigation .navigation_container .column:hover a .column_content {
    background: #ffffff;
  }
}
.navigation .navigation_container .column:hover a .column_content h6 {
  opacity: 0;
}
@media screen and (max-width: 900px) {
  .navigation .navigation_container .column:hover a .column_content h6 {
    opacity: 1;
  }
}
.navigation .navigation_container .column:hover a .column_content .unhover {
  display: none;
}
@media screen and (max-width: 900px) {
  .navigation .navigation_container .column:hover a .column_content .unhover {
    display: inline-block;
  }
}
.navigation .navigation_container .column:hover a .column_content .hover {
  display: inline-block;
}
@media screen and (max-width: 900px) {
  .navigation .navigation_container .column:hover a .column_content .hover {
    display: none;
  }
}
.navigation .navigation_container .column:hover:not(:first-child) a .column_content svg {
  fill: #fff;
  transition: all 0.5s ease;
}
@media screen and (max-width: 900px) {
  .navigation .navigation_container .column:hover:not(:first-child) a .column_content svg {
    fill: #ecaf35;
  }
}
.navigation .navigation_container .column-hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
}
@media screen and (max-width: 900px) {
  .navigation .navigation_container .column-hover {
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
  }
}
.navigation .navigation_container .column-not-hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
@media screen and (max-width: 900px) {
  .navigation .navigation_container .column-not-hover {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.navigation .navigation_container .col-large {
  width: calc(50% - 10px);
}
@media screen and (max-width: 900px) {
  .navigation .navigation_container .col-large {
    width: 100%;
  }
}
.navigation .navigation_container .col-medium {
  width: calc(40% - 10px);
}
@media screen and (max-width: 900px) {
  .navigation .navigation_container .col-medium {
    width: 100%;
  }
}
.navigation .navigation_container .col-small {
  width: calc(20% - 10px);
}
@media screen and (max-width: 900px) {
  .navigation .navigation_container .col-small {
    width: 100%;
  }
}
.navigation .navigation_container .column2 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.navigation .navigation_container .column3 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.navigation .navigation_container .column4 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.navigation .navigation_container .column5 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.navigation .navigation_container .column6 {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.navigation .navigation_container .column7 {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.navigation .navigation_container .column8 {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
.navigation .navigation_footer {
  width: 100%;
  max-width: 970px;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.navigation .navigation_footer .discription p {
  color: #fff;
  font-size: 14px;
}
.navigation .navigation_footer .social {
  margin-right: 10px;
}
.navigation .navigation_footer .social a {
  margin-right: 15px;
}
.navigation .navigation_footer .social a:last-child {
  margin-right: 0;
}
.navigation .navigation_footer .social a i {
  color: #fff;
  font-size: 20px;
}
@-webkit-keyframes navBg {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
  100% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes navBg {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
  100% {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
