@import "vars";

.navigation{
  min-height: 100vh;
  background: url("../img/navigation-BG.jpg") no-repeat center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px;

  .navigation_container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    max-width: 970px;

    @media screen and (max-width: 900px){
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      max-width: 600px;
    }

    .column{
      height: 30vm;
      height: 30vmin;
      max-height: 235px;
      min-height: 165px;
      margin-right: 10px;
      margin-bottom: 10px;
      transition: @transition;

      @media screen and (max-width: 900px){
        height: 65px;
        margin-right: 0;
        min-height: 65px;
        margin-bottom: 5px;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }

      &:last-child{
        @media screen and (max-width: 900px){
          margin-bottom: 0;
        }
      }

      a{
        text-decoration: none;
        display: inline-block;
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .column_bg{
          position: absolute;
          top:0;
          left:0;
          height: 100%;
          width: 100%;
          z-index: 1;
          opacity: 0;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;

          @media screen and (max-width: 900px){
            display: none;
          }
        }
        .bg1{
          background: url("../img/nav-bg-1.jpg") no-repeat;
          background-size: cover;
          background-position: 50% 100%;
        }
        .bg2{
          background: url("../img/nav-bg-1.jpg") no-repeat;
          background-size: cover;
          background-position: 50% 100%;
        }
        .bg3{
          background: url("../img/nav-bg-1.jpg") no-repeat;
          background-size: cover;
          background-position: 50% 100%;
        }
        .bg4{
          background: url("../img/nav-bg-1.jpg") no-repeat;
          background-size: cover;
          background-position: 50% 100%;
        }
        .bg5{
          background: url("../img/nav-bg-1.jpg") no-repeat;
          background-size: cover;
          background-position: 50% 100%;
        }
        .bg6{
          background: url("../img/nav-bg-1.jpg") no-repeat;
          background-size: cover;
          background-position: 50% 100%;
        }
        .bg7{
          background: url("../img/nav-bg-1.jpg") no-repeat;
          background-size: cover;
          background-position: 50% 100%;
        }
        .bg8{
          background: url("../img/nav-bg-1.jpg") no-repeat;
          background-size: cover;
          background-position: 50% 100%;
        }

        .column_content{
          position: relative;
          height: 100%;
          z-index: 2;
          background: rgba(255,255,255,0.9);
          transition: @transition;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;

          @media screen and (max-width: 900px){
            background: rgba(255,255,255,0.8);
            -webkit-box-orient: horizontal;
            -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            padding: 0 40px 0 20px;
          }

          @media screen and(max-width: 550px){
            padding: 0 10px 0 15px;
          }

          h6{
            margin-top: 35px;
            color: #484848;
            font-size: 24px;
            font-weight: 500;
            transition: @transition;
            opacity: 1;

            @media screen and (max-width: 900px){
              margin-top: 0;
            }

            @media screen and(max-width: 550px){
              font-size: 18px;
            }
          }

          img{
            @media screen and (max-width: 900px){
              height: 40px;
            }
            @media screen and(max-width: 550px){
              height: 30px;
            }
          }

          span{

            @media screen and (max-width: 900px){
              display: inline-block;
              width: 150px;
              text-align: center;
            }
            @media screen and(max-width: 550px){
              width: 110px;
            }
          }
        }
      }

      &:hover{
        @media screen and (max-width: 900px){
          -webkit-transform: scale(1.04);
          transform: scale(1.04);
        }

        a{

          .column_bg{
            -webkit-animation: navBg 1s ease;
            animation: navBg 1s ease;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
          }

          .column_content{
            background: rgba(255,255,255,0);

            @media screen and (max-width: 900px){
              background: rgba(255,255,255,1);
            }

            h6{
              opacity: 0;

              @media screen and (max-width: 900px){
                opacity: 1;
              }
            }
          }
        }
      }
    }

    .col-large{
      width: ~"calc(50% - 10px)";
      @media screen and (max-width: 900px){
        width: 100%;
      }
    }

    .col-medium{
      width: ~"calc(40% - 10px)";
      @media screen and (max-width: 900px){
        width: 100%;
      }
    }

    .col-small{
      width: ~"calc(20% - 10px)";
      @media screen and (max-width: 900px){
        width: 100%;
      }
    }

    .column2{
      -webkit-animation-delay: 0.1s;
      animation-delay: 0.1s;
    }
    .column3{
      -webkit-animation-delay: 0.2s;
      animation-delay: 0.2s;
    }
    .column4{
      -webkit-animation-delay: 0.3s;
      animation-delay: 0.3s;
    }
    .column5{
      -webkit-animation-delay: 0.4s;
      animation-delay: 0.4s;
    }
    .column6{
      -webkit-animation-delay: 0.5s;
      animation-delay: 0.5s;
    }
    .column7{
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s;
    }
    .column8{
      -webkit-animation-delay: 0.7s;
      animation-delay: 0.7s;
    }
  }
}

@-webkit-keyframes navBg {
  0%{
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50%{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
  100%{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes navBg {
  0%{
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50%{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
  100%{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}