.shares {
  background: url("../img/shares-bg.jpg") no-repeat;
  background-size: cover;
  padding: 50px 0 0 0;
}
.shares .container {
  width: 100%;
  max-width: 870px;
  margin: 0 auto;
  position: relative;
}
.shares .container .title-lines .line {
  background: #fb4040;
}
.shares .container .product-slider {
  overflow: hidden;
  padding-top: 70px;
  padding-bottom: 60px;
}
.shares .container .product-slider .item-slider {
  outline: none;
  float: left;
}
